:root {
  /* color */
  --color-light-white: #fff;
  --color-white: #f5f5f5;
  --color-light-black: #3f3f3f;
  --color-black: #262626;
  --color-gray: #e9e9e9; /*f1f1f1  efece6*/
  --color-dark-gray: #595959;
  --color-green: #64b8a2;
  --color-light-green: #89c9b8;
  --color-yellow: #febf00;

  /* size */
  --font-big: 28px;
  --font-medium: 20px;
  --font-small: 14px;
  --font-smaller: 11px;

  --base-space-bigger: 30px;
  --base-space-big: 20px;
  --base-space-medium: 10px;
  --base-space-small: 5px;

  --size-thumbnail: 180px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* 근데 이건 내가 요소의 사이즈를 정해준 게 아니면 의미가 없지 않나? 어짜피 자식요소의 패딩이 들어가면 그만큼 크기가 커질테니까 */
}

li {
  list-style: none;
}

button,
button:hover {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

h1 {
  color: var(--color-black);
  padding-top: var(--base-space-bigger);
  padding-bottom: var(--base-space-medium);
  font-size: var(--font-big);
}
/* h1, h2, p, span */
h2 {
  color: var(--color-black);
  font-size: 18px;
  padding-bottom: var(--base-space-small);
}

p {
  font-size: 14px;
  padding-bottom: var(--base-space-medium);
}

a,
a:hover {
  text-decoration: none;
}

/* arrow up*/
.arrowUp i {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 40px;
  color: var(--color-green);
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
}

.arrowUp.visible i {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

/* home */
.home {
  background-image: url("./image/background-img.png");
  background-size: cover;
  padding: var(--base-space-bigger) 0;
}

/* home__logoAndNav */
.home__logoAndNav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-space-medium);
  background-color: transparent;
  z-index: 1;
  transition: background-color 0.2s ease-in;
}

/* 스크롤시 green으로 색 변경 */
.home__logoAndNav.nonTransparent {
  background-color: var(--color-light-green);
  transition: background-color 0.2s ease-out;
}

.home__logoAndNav .logoAndNav__logo {
  color: var(--color-light-white);
  font-size: var(--font-medium);
}

.home__logoAndNav .logoAndNav__logo::first-letter {
  color: var(--color-yellow);
}

.home__logoAndNav .logoAndNav__nav-bar button {
  margin: 0 var(--base-space-small);
}

.home__logoAndNav .logoAndNav__nav-bar button li {
  color: var(--color-light-white);
  padding: var(--base-space-small);
  border-radius: 2px;
  border: 1px solid transparent;
}

.home__logoAndNav .logoAndNav__nav-bar button li:hover {
  background-color: #9fd8c8;
  border: 1px solid var(--color-light-white);
}

/* home__description */
.home__description {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: rebeccapurple; */
  color: var(--color-white);
}

.home__description img {
  width: var(--size-thumbnail);
}

.home__description h1 {
  color: var(--color-white);
  font-weight: 500;
  padding-bottom: var(--base-space-small);
  padding-top: 0;
}

.home__description h2 {
  color: var(--color-white);
  font-weight: 300;
  /*  */
}

.home__description button {
  color: var(--color-light-white);
  border: 1px solid var(--color-white);
  border-radius: 3px;
  padding: var(--base-space-medium);
  margin: var(--base-space-bigger);
  transition: background-color 0.5s ease;
}

.home__description button:hover {
  background-color: var(--color-light-green);
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: var(--base-space-medium);
}

.about__description {
  margin-bottom: var(--base-space-bigger);
}

.about__fields {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: var(--base-space-medium);
}

.about__fields .filed {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__fields .filed button {
  width: 100px;
  height: 100px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 50%;
  margin-bottom: var(--base-space-medium);
  transition: all 0.2s ease;
}

.about__fields .filed button:hover {
  border: 1px solid var(--color-yellow);
  transform: rotate(30deg);
  transition: all 0.2s ease;
}

.about__fields .filed button:hover i {
  color: var(--color-yellow);
}

.about__fields .filed span:nth-child(2) {
  font-size: var(--font-medium);
  color: var(--color-black);
}

.about__fields .filed span:nth-child(3) {
  font-size: var(--font-small);
  color: var(--color-light-black);
}

.about__fields .filed button i {
  font-size: var(--font-big);
  color: var(--color-dark-gray);
}

.about__history {
  padding: var(--base-space-big);
  color: var(--color-light-black);
}

/* skills */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-gray);
}

.skills__description {
  margin-bottom: var(--base-space-big);
}

/* skills__skillBox */
.skills__skillBox {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-bottom: calc(var(--base-space-bigger) * 2);
  color: var(--color-white);
}

.skills__skillBox .skillBox__skills {
  background-color: var(--color-light-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--base-space-big) 0;
}

.skillBox__skills > span {
  padding-bottom: var(--base-space-medium);
}

.skillBox__skills .skillSetBox {
  width: 85%;
}

.skillBox__skills .skillSetBox span {
  font-size: var(--font-smaller);
}

.skillBox__skills .skillSetBox .skillSetAndValue {
  padding-bottom: var(--base-space-big);
}

.skillBox__skills .skillSetBox .skillSetAndValue .skillSet {
  display: flex;
  justify-content: space-between;
}

.skillBox__skills .skillSetBox .skillSetAndValue .value {
  height: 3px;
  background-color: var(--color-dark-gray);
}

.skillBox__skills .skillSetBox .skillSetAndValue .realValue {
  height: 3px;
  position: relative;
  bottom: 3px;
  background-color: rgb(236, 162, 49);
}

/* percentage */
.skillBox__skills .skillSetBox .skillSetAndValue:nth-child(1) .realValue {
  width: 99%;
}

.skillBox__skills .skillSetBox .skillSetAndValue:nth-child(2) .realValue {
  width: 90%;
}

.skillBox__skills .skillSetBox .skillSetAndValue:nth-child(3) .realValue {
  width: 80%;
}

.skillBox__skills .skillSetBox .skillSetAndValue:nth-child(4) .realValue {
  width: 10%;
}

.skillBox__skills .skillSetBox .skillSetAndValue:nth-child(5) .realValue {
  width: 0%;
}

/* skills__toolsAndEtc */
.skills__toolsAndEtc {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.skills__toolsAndEtc .tools {
  padding: var(--base-space-big) 0;
  background-color: var(--color-dark-gray);
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.skills__toolsAndEtc .tools span:nth-child(1) {
  margin-bottom: var(--base-space-medium);
}

.skills__toolsAndEtc .tools span ~ span {
  font-size: var(--font-smaller);
}

.skills__toolsAndEtc .etc {
  flex: 1 1 50%;
  padding: var(--base-space-big) 0;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.skills__toolsAndEtc .etc span ~ span {
  font-size: var(--font-smaller);
}

.skills__toolsAndEtc .etc span:nth-child(1) {
  margin-bottom: var(--base-space-medium);
}

/* work */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work span {
  margin-bottom: var(--base-space-big);
}

.work__buttons {
  display: flex;
}

.work__buttons button {
  border: 1px solid var(--color-dark-gray);
  border-radius: 2px;
  position: relative;
  transition: all 0.2s ease;
}

.work__buttons button:hover,
.work__buttons button.active {
  background-color: var(--color-green);
}

.work__buttons button span:nth-child(1) {
  display: inline-block;
  margin: auto;
  padding: var(--base-space-medium) var(--base-space-bigger);
}

.work__buttons button span:nth-child(2) {
  position: absolute;
  top: 5px;
  right: 5px;
  transform: translateY(-50%);
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  color: transparent;
  transition: all 0.2s ease-in-out;
}

.work__buttons button:hover span:nth-child(2) {
  color: white;
  top: 50%;
  background-color: var(--color-yellow);
}

/* 이 부분 수정해야 함. */
.work__buttons .active span:nth-child(2) {
  color: white;
  top: 50%;
  background-color: var(--color-yellow);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--base-space-big);
  margin-bottom: var(--base-space-bigger);
  width: 80%;
  transition: all 200ms ease-in;
}

.work__projects.anim-out {
  opacity: 0.2;
  transform: scale(0.9, 0.9);
  transition: all 200ms ease-out;
}

.work__projects .project {
  width: 250px;
  height: 250px;
  background-color: var(--color-gray);
  margin: 2px;
  cursor: pointer;
  position: relative;
}

.work__projects .project img {
  width: 100%;
  position: relative;
  top: 20%;
}

.work__projects .project span {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 200px;
  background-color: transparent;
  /* background transparent로 안해놓으면 애니메이션 적용 안 될 거임 */
  color: transparent;
  opacity: 70%;
  transition: all 0.2s ease;
}

.work__projects .project:hover span {
  background-color: black;
  color: var(--color-white);
}

.work__projects .project a {
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 30px;
  transition: color 0.2s ease;
}

.work__projects .project:hover a {
  color: var(--color-white);
}

.work__projects .project a:hover {
  transform: translate(-50%, -30%) scale(1.1, 1.1);
  color: var(--color-yellow);
}

/* testimonial */
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray);
}

.testimonial__outerBox {
  padding: var(--base-space-bigger);
  width: 90%;
}

.testimonial__outerBox .innerBox {
  display: flex;
  align-items: center;
  padding: var(--base-space-medium) 0;
}

.testimonial__outerBox .innerBox:nth-child(2) {
  flex-direction: row-reverse;
}

.testimonial__outerBox .innerBox .person {
  flex: 1 1 20%;
}

.testimonial__outerBox .innerBox .person img {
  width: 100%;
  border-radius: 50%;
}

.testimonial__outerBox .innerBox p {
  background-color: white;
  flex: 1 1 80%;
  text-align: center;
  border-radius: 3px;
  padding: var(--base-space-big);
}

.testimonial__outerBox .innerBox:nth-child(1) p {
  margin-left: var(--base-space-bigger);
}

.testimonial__outerBox .innerBox:nth-child(2) p {
  margin-right: var(--base-space-bigger);
}

/* contact */
.contact {
  background-color: var(--color-light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
}

.contact h1 {
  color: var(--color-white);
  margin-bottom: var(--base-space-medium);
}

.contact h2 {
  color: var(--color-white);
  font-weight: 500;
}

.contact__links {
  display: flex;
  margin: var(--base-space-big) 0;
}

.contact__links .link {
  margin: 0 var(--base-space-medium);
}

.contact__links .link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  transition: all 0.2s ease;
}

.contact__links .link a:hover {
  color: var(--color-light-white);
  transform: scale(1.1, 1.1);
}

.contact__links .link a i {
  font-size: var(--font-big);
}

.contact__links .link a span {
  font-size: var(--font-smaller);
}

.contact p:nth-child(4) {
  margin-bottom: var(--base-space-medium);
  font-size: var(--font-smaller);
}
