:root {
  /* color */
  --color-light-white: #fff;
  --color-white: #f5f5f5;
  --color-light-black: #3f3f3f;
  --color-black: #262626;
  --color-gray: #d9d9d9;
  --color-dark-gray: #595959;
  --color-green: #64b8a2;
  --color-light-green: #89c9b8;
  --color-yellow: #febf00;

  /* size */
  --font-big: 28px;
  --font-medium: 16px;
  --font-small: 14px;
  --font-smaller: 8px;

  --base-space-big: 20px;
  --base-space-medium: 10px;
  --base-space-small: 5px;
  --size-thumbnail: 130px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* header */
.home {
  background-image: url("./image/background-img.png");
  background-size: cover;
}

/* .nav-bar */
.home .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-space-medium);
}

.home .nav-bar__logo__text {
  color: var(--color-light-white);
  font-size: var(--font-medium);
  font-weight: 500;
}

.home .nav-bar__logo__text::first-letter {
  color: var(--color-yellow);
}

.home .nav-bar__links .link {
  font-size: var(--font-small);
  color: var(--color-light-white);
  margin-right: var(--base-space-medium);
  padding: 5px;
}

.home .nav-bar__links .link:hover {
  border: 1px solid var(--color-light-white);
  border-radius: 2px;
  background-color: var(--color-light-green);
}

/* thumbnail */
.home .thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--base-space-medium);
}

.home .thumbnail__image {
  width: var(--size-thumbnail);
}

.home .thumbnail__intro {
  color: var(--color-light-white);
}

.home .thumbnail__intro.big {
  margin-bottom: var(--base-space-medium);
  font-size: var(--font-big);
  text-align: center;
  font-weight: 500;
}

.home .thumbnail__intro.small {
  margin-bottom: var(--base-space-big);
  font-size: var(--font-medium);
  text-align: center;
}

.home .thumbnail__contact-button {
  cursor: pointer;
  color: var(--color-light-white);
  padding: var(--base-space-small);
  border: 1px solid var(--color-light-white);
  border-radius: 3px;
  margin-bottom: var(--base-space-big);
  font-size: var(--font-smaller);
}

.home .thumbnail__contact-button:hover {
  background-color: var(--color-light-green);
}
